servioticy/integreen/flows.json
[{"type":"tab","id":"26bbf36b.71fb14","label":"InTeGreen"},{"type":"tab","id":"9c4c84f6.63b378","label":"InTeGreen -> ServIoTicy"},{"id":"a204779b.5ebd78","type":"json","name":"","x":455,"y":51,"z":"26bbf36b.71fb14","wires":[["576a965c.508d5"]]},{"id":"f0085a26.ba18a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":761,"y":51,"z":"26bbf36b.71fb14","wires":[]},{"id":"e7e0cc74.cad52","type":"http request","name":"InTeGreen Meteo Temp","method":"GET","url":"http://ipchannels.integreen-life.bz.it/MeteoFrontEnd/rest/get-records?station=83200MS&name=LT&seconds=10000","x":270,"y":51,"z":"26bbf36b.71fb14","wires":[["a204779b.5ebd78"]]},{"id":"7be51cac.1afb24","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83,"y":51,"z":"26bbf36b.71fb14","wires":[["e7e0cc74.cad52","4b3454be.303c7c"]]},{"id":"576a965c.508d5","type":"change","action":"replace","property":"payload","from":"","to":"msg.payload[0]","reg":false,"name":"extract first","x":607,"y":51,"z":"26bbf36b.71fb14","wires":[["f0085a26.ba18a8"]]},{"id":"4b3454be.303c7c","type":"http request","name":"InTeGreen Meteo Hum","method":"GET","url":"http://ipchannels.integreen-life.bz.it/MeteoFrontEnd/rest/get-records?station=83200MS&name=LF&seconds=10000","x":269,"y":107,"z":"26bbf36b.71fb14","wires":[["98b0b598.c50d1"]]},{"id":"98b0b598.c50d1","type":"json","name":"","x":454,"y":107,"z":"26bbf36b.71fb14","wires":[["d31113c3.30195"]]},{"id":"d31113c3.30195","type":"change","action":"replace","property":"payload","from":"","to":"msg.payload[0]","reg":false,"name":"extract first","x":605,"y":107,"z":"26bbf36b.71fb14","wires":[["f0085a26.ba18a8"]]},{"id":"513d6ae0.164f3c","type":"integreen in","name":"","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"","call":"","params":"","x":314,"y":248,"z":"26bbf36b.71fb14","wires":[["354c5141.88d946"]]},{"id":"f19e6632.890da8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":168,"z":"26bbf36b.71fb14","wires":[["caaacb93.c5ff8"]]},{"id":"354c5141.88d946","type":"debug","name":"","active":true,"console":"false","complete":"true","x":458,"y":248,"z":"26bbf36b.71fb14","wires":[]},{"id":"caaacb93.c5ff8","type":"function","name":"InTeGreen Meteo","func":"msg.frontend = \"MeteoFrontEnd\";\nmsg.call = \"get-records\";\nmsg.params = \"station=83200MS&name=LT&seconds=10000\";\n//msg.params = {\n//\"station\":\"83200MS\", // Meteo Bz\n//\"name\":\"LT\",\n//\"seconds\":10000\n//};\nreturn msg;","outputs":1,"x":133,"y":248,"z":"26bbf36b.71fb14","wires":[["513d6ae0.164f3c"]]},{"id":"7ada444a.2d5654","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":325,"z":"26bbf36b.71fb14","wires":[["52bdb7e.7c71548"]]},{"id":"52bdb7e.7c71548","type":"function","name":"InTeGreen parking","func":"msg.frontend = \"parkingFrontEnd\";\nmsg.call = \"get-records\";\nmsg.params = {\n\"station\":\"102\", // City parking\n\"name\":\"Parking forecast\",\n\"seconds\":10000\n};\nreturn msg;","outputs":1,"x":133,"y":405,"z":"26bbf36b.71fb14","wires":[["9697a8bc.a093c8"]]},{"id":"9697a8bc.a093c8","type":"integreen in","name":"","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"","call":"","params":"","x":314,"y":405,"z":"26bbf36b.71fb14","wires":[["8b27f8bf.54ffc8"]]},{"id":"8b27f8bf.54ffc8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":455,"y":405,"z":"26bbf36b.71fb14","wires":[]},{"id":"7addfc71.852204","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":42,"z":"9c4c84f6.63b378","wires":[["4516559.fbae9ac"]]},{"id":"4516559.fbae9ac","type":"function","name":"InTeGreen Meteo","func":"msg.frontend = \"MeteoFrontEnd\";\nmsg.call = \"get-records\";\nmsg.params = {\n\"station\":\"83200MS\", // Meteo Bz\n\"name\":\"WG.BOE\",\n\"seconds\":20000\n};\nreturn msg;","outputs":1,"x":155,"y":104,"z":"9c4c84f6.63b378","wires":[["3bf32fe8.c40cd"]]},{"id":"3bf32fe8.c40cd","type":"integreen in","name":"","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"","call":"","params":"","x":332,"y":104,"z":"9c4c84f6.63b378","wires":[["1d475f54.e2b8a1"]]},{"id":"1d475f54.e2b8a1","type":"function","name":"prelaboration","func":"/station=([^&]+)&name=([^&]+)&/.exec(msg.req);\nvar matches = [ RegExp.$1, RegExp.$2 ];\nmsg.stream = decodeURIComponent(RegExp.$1);\nmsg.channel = decodeURIComponent(RegExp.$2);\nvar data = msg.payload[msg.payload.length-1];\nmsg.payload = data.value;\nmsg.lastUpdate = data.timestamp/1000;\nreturn msg;","outputs":1,"x":137,"y":169,"z":"9c4c84f6.63b378","wires":[["d99e747a.266188"]]},{"id":"d99e747a.266188","type":"servioticy out","name":"","host":"localhost","port":"8080","soid":"140990544814577d628d4f7894c86941a13ed81d95fab","channel":"","stream":"","x":299,"y":169,"z":"9c4c84f6.63b378","wires":[["4f079bd0.b0f864"]]},{"id":"4f079bd0.b0f864","type":"debug","name":"","active":true,"console":"false","complete":"false","x":445,"y":169,"z":"9c4c84f6.63b378","wires":[]},{"id":"1f542a04.e0abd6","type":"servioticy in","name":"","host":"localhost","port":"8080","soid":"140990544814577d628d4f7894c86941a13ed81d95fab","channel":"LD","stream":"83200MS","x":259,"y":451,"z":"9c4c84f6.63b378","wires":[["e779eae4.188618"]]},{"id":"40ddd389.bf222c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":451,"z":"9c4c84f6.63b378","wires":[["1f542a04.e0abd6"]]},{"id":"e779eae4.188618","type":"debug","name":"","active":true,"console":"false","complete":"true","x":412,"y":451,"z":"9c4c84f6.63b378","wires":[]},{"id":"3494302.fcb6bd","type":"debug","name":"","active":true,"console":"false","complete":"false","x":490,"y":333,"z":"9c4c84f6.63b378","wires":[]},{"id":"932324d5.6cdcd8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":264,"z":"9c4c84f6.63b378","wires":[["f826f117.07d91"]]},{"id":"762d112a.89d2f","type":"inte serv","name":"","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"MeteoFrontEnd","station":"83200MS","datatype":"LD","seconds":"","x":160,"y":333,"z":"9c4c84f6.63b378","wires":[["6b13bf01.94ec4"]]},{"id":"6b13bf01.94ec4","type":"servioticy out","name":"","host":"localhost","port":"8080","soid":"140990544814577d628d4f7894c86941a13ed81d95fab","channel":"","stream":"","x":350,"y":333,"z":"9c4c84f6.63b378","wires":[["3494302.fcb6bd"]]},{"id":"f826f117.07d91","type":"function","name":"params","func":"msg.seconds = \"10000\";\nreturn msg;","outputs":1,"x":251,"y":264,"z":"9c4c84f6.63b378","wires":[["762d112a.89d2f"]]},{"id":"ae403e2d.51bfc","type":"comment","name":"Manual InTeGreen -> ServIoTicy sync","info":"with plain InTeGreen node","x":389,"y":41,"z":"9c4c84f6.63b378","wires":[]},{"id":"b705875.f48fa78","type":"comment","name":"Simplified InTeGreen -> ServIoTicy sync","info":"with InTeGreen -> ServIoTicy node","x":500,"y":264,"z":"9c4c84f6.63b378","wires":[]},{"id":"96063b10.69f9c8","type":"comment","name":"ServIoTicy output","info":"","x":586,"y":452,"z":"9c4c84f6.63b378","wires":[]},{"id":"85766b76.7a8998","type":"comment","name":"Without InTeGreen node","info":"","x":504,"y":153,"z":"26bbf36b.71fb14","wires":[]},{"id":"758a94b7.8a756c","type":"comment","name":"With InTeGreen node","info":"","x":503,"y":331,"z":"26bbf36b.71fb14","wires":[]}]