servioticy/integreen/flows.json
[{"type":"tab","id":"26bbf36b.71fb14","label":"Sheet 1"},{"id":"a204779b.5ebd78","type":"json","name":"","x":455,"y":51,"z":"26bbf36b.71fb14","wires":[["576a965c.508d5"]]},{"id":"f0085a26.ba18a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":761,"y":51,"z":"26bbf36b.71fb14","wires":[]},{"id":"e7e0cc74.cad52","type":"http request","name":"InTeGreen Meteo Temp","method":"GET","url":"http://ipchannels.integreen-life.bz.it/MeteoFrontEnd/rest/get-records?station=83200MS&name=LT&seconds=10000","x":270,"y":51,"z":"26bbf36b.71fb14","wires":[["a204779b.5ebd78"]]},{"id":"7be51cac.1afb24","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83,"y":51,"z":"26bbf36b.71fb14","wires":[["e7e0cc74.cad52","4b3454be.303c7c"]]},{"id":"576a965c.508d5","type":"change","action":"replace","property":"payload","from":"","to":"msg.payload[0]","reg":false,"name":"extract first","x":607,"y":51,"z":"26bbf36b.71fb14","wires":[["f0085a26.ba18a8"]]},{"id":"4b3454be.303c7c","type":"http request","name":"InTeGreen Meteo Hum","method":"GET","url":"http://ipchannels.integreen-life.bz.it/MeteoFrontEnd/rest/get-records?station=83200MS&name=LF&seconds=10000","x":269,"y":107,"z":"26bbf36b.71fb14","wires":[["98b0b598.c50d1"]]},{"id":"98b0b598.c50d1","type":"json","name":"","x":454,"y":107,"z":"26bbf36b.71fb14","wires":[["d31113c3.30195"]]},{"id":"d31113c3.30195","type":"change","action":"replace","property":"payload","from":"","to":"msg.payload[0]","reg":false,"name":"extract first","x":605,"y":107,"z":"26bbf36b.71fb14","wires":[["f0085a26.ba18a8"]]},{"id":"513d6ae0.164f3c","type":"integreen in","name":"","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"","call":"","params":"","x":314,"y":248,"z":"26bbf36b.71fb14","wires":[["354c5141.88d946"]]},{"id":"f19e6632.890da8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":168,"z":"26bbf36b.71fb14","wires":[["caaacb93.c5ff8"]]},{"id":"354c5141.88d946","type":"debug","name":"","active":true,"console":"false","complete":"true","x":458,"y":248,"z":"26bbf36b.71fb14","wires":[]},{"id":"caaacb93.c5ff8","type":"function","name":"InTeGreen Meteo","func":"msg.frontend = \"MeteoFrontEnd\";\nmsg.call = \"get-records\";\nmsg.params = \"station=83200MS&name=LT&seconds=10000\";\n//msg.params = {\n//\"station\":\"83200MS\", // Meteo Bz\n//\"name\":\"LT\",\n//\"seconds\":10000\n//};\nreturn msg;","outputs":1,"x":133,"y":248,"z":"26bbf36b.71fb14","wires":[["513d6ae0.164f3c"]]},{"id":"7ada444a.2d5654","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":325,"z":"26bbf36b.71fb14","wires":[["52bdb7e.7c71548"]]},{"id":"52bdb7e.7c71548","type":"function","name":"InTeGreen parking","func":"msg.frontend = \"parkingFrontEnd\";\nmsg.call = \"get-records\";\n//msg.params = \"station=83200MS&name=LT&seconds=20000\";\nmsg.params = {\n\"station\":\"102\", // City parking\n\"name\":\"Parking forecast\",\n\"seconds\":10000\n};\nreturn msg;","outputs":1,"x":133,"y":405,"z":"26bbf36b.71fb14","wires":[["9697a8bc.a093c8"]]},{"id":"9697a8bc.a093c8","type":"integreen in","name":"","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"","call":"","params":"","x":314,"y":405,"z":"26bbf36b.71fb14","wires":[["8b27f8bf.54ffc8"]]},{"id":"8b27f8bf.54ffc8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":457,"y":405,"z":"26bbf36b.71fb14","wires":[]},{"id":"66a7aff4.684e18","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87,"y":496,"z":"26bbf36b.71fb14","wires":[["eaa69f8b.6f0588"]]},{"id":"eaa69f8b.6f0588","type":"function","name":"InTeGreen Meteo","func":"msg.frontend = \"MeteoFrontEnd\";\nmsg.call = \"get-records\";\nmsg.params = {\n\"station\":\"83200MS\", // Meteo Bz\n\"name\":\"WG.BOE\",\n\"seconds\":20000\n};\nreturn msg;","outputs":1,"x":131,"y":558,"z":"26bbf36b.71fb14","wires":[["1acad70a.6a3611"]]},{"id":"1acad70a.6a3611","type":"integreen in","name":"","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"","call":"","params":"","x":308,"y":558,"z":"26bbf36b.71fb14","wires":[["b8225313.8cf3c"]]},{"id":"b8225313.8cf3c","type":"function","name":"prelaboration","func":"/station=([^&]+)&name=([^&]+)&/.exec(msg.req);\nvar matches = [ RegExp.$1, RegExp.$2 ];\nmsg.stream = decodeURIComponent(RegExp.$1);\nmsg.channel = decodeURIComponent(RegExp.$2);\nvar data = msg.payload[msg.payload.length-1];\nmsg.payload = data.value;\nmsg.lastUpdate = data.timestamp/1000;\nreturn msg;","outputs":1,"x":113,"y":623,"z":"26bbf36b.71fb14","wires":[["acaf44e8.40b078"]]},{"id":"acaf44e8.40b078","type":"servioticy out","name":"","host":"localhost","port":"8080","soid":"14097363077070a99a7612cae4f84a4ee17a9c6321cf0","channel":"","stream":"","x":275,"y":623,"z":"26bbf36b.71fb14","wires":[["4e5ffde4.63c50c"]]},{"id":"4e5ffde4.63c50c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":421,"y":623,"z":"26bbf36b.71fb14","wires":[]},{"id":"605c3e3f.ca61b8","type":"servioticy in","name":"","host":"localhost","port":"8080","soid":"14097363077070a99a7612cae4f84a4ee17a9c6321cf0","channel":"WG.BOE","stream":"83200MS","x":234,"y":693,"z":"26bbf36b.71fb14","wires":[["5334e8a6.99812"]]},{"id":"cc6109a2.42d6b8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83,"y":693,"z":"26bbf36b.71fb14","wires":[["605c3e3f.ca61b8"]]},{"id":"5334e8a6.99812","type":"debug","name":"","active":true,"console":"false","complete":"true","x":387,"y":693,"z":"26bbf36b.71fb14","wires":[]},{"id":"83a1bc87.5b75c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":421,"y":591,"z":"26bbf36b.71fb14","wires":[]}]