servioticy/arduinoTemp/flows.json
[{"type":"tab","id":"a4dedf0f.5b212","label":"ArduinoTemp In"},{"type":"tab","id":"706817d9.8f97e8","label":"Actuations"},{"type":"tab","id":"2351282f.dcaed8","label":"ArduinoTemp Out"},{"id":"b11dd2d2.4ee23","type":"serial-port","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"4761633a.b89e9c","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"3bd18868.c42e78","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"12b610b3.ed49ef","type":"serial in","name":"Arduino","serial":"4761633a.b89e9c","x":70,"y":38,"z":"a4dedf0f.5b212","wires":[["5f657243.a09a8c"]]},{"id":"beee073f.4111f8","type":"serial in","name":"Grove","serial":"b11dd2d2.4ee23","x":69,"y":93,"z":"a4dedf0f.5b212","wires":[["5d819191.a27e7"]]},{"id":"5f657243.a09a8c","type":"function","name":"Param","func":"msg.name = \"Sensor 1 (Arduino)\";\nmsg.soid = \"140480463137035f63e50dcb4413fb37a0b0522fd3389\";\nmsg.stream = \"temp1\";\nmsg.channel = \"celsius\";\nreturn msg;","outputs":1,"x":213,"y":38,"z":"a4dedf0f.5b212","wires":[["4f7a84ed.b0857c"]]},{"id":"5d819191.a27e7","type":"function","name":"Param","func":"msg.name = \"Sensor 2 (Grove)\";\nmsg.soid = \"1405502700086833914e633dc45dd9c97d54f6f361b3c\";\nmsg.stream = \"temp1\";\nmsg.channel = \"celsius\";\nreturn msg;","outputs":1,"x":212,"y":93,"z":"a4dedf0f.5b212","wires":[["4f7a84ed.b0857c"]]},{"id":"4f7a84ed.b0857c","type":"function","name":"Parse value","func":"/degrees C: (\\w+\\.\\w+)/.exec(msg.payload);\nmsg.payload = parseFloat(RegExp.$1);\nreturn msg;","outputs":1,"x":367,"y":64,"z":"a4dedf0f.5b212","wires":[[]]},{"id":"d4c2752.f2b3d88","type":"debug","name":"","active":true,"console":"false","complete":"false","x":659,"y":65,"z":"a4dedf0f.5b212","wires":[]},{"id":"33f58b9e.cc0a74","type":"servioticy out","name":"","host":"localhost","port":"8080","soid":"","channel":"","stream":"","x":519,"y":65,"z":"a4dedf0f.5b212","wires":[["d4c2752.f2b3d88"]]},{"id":"6f7c3988.9083c8","type":"servioticy in","name":"Arduino temp","host":"localhost","port":"8080","soid":"140480463137035f63e50dcb4413fb37a0b0522fd3389","channel":"celsius","stream":"temp1","x":293,"y":79,"z":"706817d9.8f97e8","wires":[["c153263c.3eacd8"]]},{"id":"c153263c.3eacd8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":507,"y":80,"z":"706817d9.8f97e8","wires":[]},{"id":"64888f10.9b777","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":79,"z":"706817d9.8f97e8","wires":[["6f7c3988.9083c8"]]},{"id":"56fc321.fa903cc","type":"inject","name":"led1on","topic":"","payload":"led1on","payloadType":"string","repeat":"","crontab":"","once":false,"x":101,"y":163,"z":"706817d9.8f97e8","wires":[["ef08d9ef.10f728"]]},{"id":"ef08d9ef.10f728","type":"serial out","name":"Arduino starter","serial":"b11dd2d2.4ee23","x":506,"y":274,"z":"706817d9.8f97e8","wires":[]},{"id":"87cb7f89.78348","type":"inject","name":"led1off","topic":"","payload":"led1off","payloadType":"string","repeat":"","crontab":"","once":false,"x":102,"y":210,"z":"706817d9.8f97e8","wires":[["ef08d9ef.10f728"]]},{"id":"c3398a74.3cc678","type":"inject","name":"led2on","topic":"","payload":"led2on","payloadType":"string","repeat":"","crontab":"","once":false,"x":101,"y":255,"z":"706817d9.8f97e8","wires":[["ef08d9ef.10f728"]]},{"id":"ed755185.128ab","type":"inject","name":"led2off","topic":"","payload":"led2off","payloadType":"string","repeat":"","crontab":"","once":false,"x":99,"y":301,"z":"706817d9.8f97e8","wires":[["ef08d9ef.10f728"]]},{"id":"a2c38da7.5d3c7","type":"inject","name":"led3on","topic":"","payload":"led3on","payloadType":"string","repeat":"","crontab":"","once":false,"x":99,"y":349,"z":"706817d9.8f97e8","wires":[["ef08d9ef.10f728"]]},{"id":"318377b.fce7c88","type":"inject","name":"led3off","topic":"","payload":"led3off","payloadType":"string","repeat":"","crontab":"","once":false,"x":100,"y":396,"z":"706817d9.8f97e8","wires":[["ef08d9ef.10f728"]]},{"id":"18979c52.e76864","type":"debug","name":"","active":true,"console":"false","complete":"false","x":485,"y":431,"z":"706817d9.8f97e8","wires":[]},{"id":"36b6a72a.c94958","type":"mqtt in","name":"servIoTicy acts","topic":"14056883311025a9b94340f964f06b73a1b972c875300/actions","broker":"3bd18868.c42e78","x":92,"y":467,"z":"706817d9.8f97e8","wires":[["9c1a35cb.63e5c8"]]},{"id":"33f3a3f8.cc0c5c","type":"function","name":"extract act","func":"msg.payload = msg.payload[\"description\"][\"name\"];\nreturn msg;","outputs":1,"x":347,"y":368,"z":"706817d9.8f97e8","wires":[["18979c52.e76864","ef08d9ef.10f728"]]},{"id":"9c1a35cb.63e5c8","type":"json","name":"","x":241,"y":467,"z":"706817d9.8f97e8","wires":[["33f3a3f8.cc0c5c","f9e305b0.061cf8"]]},{"id":"f9e305b0.061cf8","type":"debug","name":"","active":true,"console":false,"complete":false,"x":484,"y":467,"z":"706817d9.8f97e8","wires":[]},{"id":"b79a3.fff4865d","type":"debug","name":"","active":true,"console":"false","complete":"true","x":580,"y":43,"z":"2351282f.dcaed8","wires":[]},{"id":"526f1905.ad90e8","type":"servioticy in","name":"Arduino temp","host":"localhost","port":"8080","soid":"","channel":"","stream":"","x":410,"y":43,"z":"2351282f.dcaed8","wires":[["b79a3.fff4865d"]]},{"id":"51257ab.faeda84","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":92,"y":43,"z":"2351282f.dcaed8","wires":[["ce3340.ff31ccc"]]},{"id":"ce3340.ff31ccc","type":"function","name":"Params","func":"msg.soid = \"140480463137035f63e50dcb4413fb37a0b0522fd3389\";\nmsg.channel = \"celsius\";\nmsg.stream = \"temp1\";\nreturn msg;","outputs":1,"x":247,"y":43,"z":"2351282f.dcaed8","wires":[["526f1905.ad90e8"]]}]