servioticy/arduinoTemp/flows.json
[{"type":"tab","id":"a4dedf0f.5b212","label":"ArduinoTemp In"},{"type":"tab","id":"706817d9.8f97e8","label":"ArduinoTemp Out"},{"type":"tab","id":"2351282f.dcaed8","label":"Actuations"},{"id":"b11dd2d2.4ee23","type":"serial-port","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"4761633a.b89e9c","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"3bd18868.c42e78","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"12b610b3.ed49ef","type":"serial in","name":"Arduino","serial":"4761633a.b89e9c","x":70,"y":38,"z":"a4dedf0f.5b212","wires":[["5f657243.a09a8c"]]},{"id":"beee073f.4111f8","type":"serial in","name":"Grove","serial":"b11dd2d2.4ee23","x":69,"y":93,"z":"a4dedf0f.5b212","wires":[["5d819191.a27e7"]]},{"id":"5f657243.a09a8c","type":"function","name":"Param","func":"msg.name = \"Sensor 1 (Arduino)\";\nmsg.soid = \"140480463137035f63e50dcb4413fb37a0b0522fd3389\";\nmsg.stream = \"temp1\";\nmsg.channel = \"celsius\";\nreturn msg;","outputs":1,"x":213,"y":38,"z":"a4dedf0f.5b212","wires":[["4f7a84ed.b0857c"]]},{"id":"5d819191.a27e7","type":"function","name":"Param","func":"msg.name = \"Sensor 2 (Grove)\";\nmsg.soid = \"1405502700086833914e633dc45dd9c97d54f6f361b3c\";\nmsg.stream = \"temp1\";\nmsg.channel = \"celsius\";\nreturn msg;","outputs":1,"x":212,"y":93,"z":"a4dedf0f.5b212","wires":[["4f7a84ed.b0857c"]]},{"id":"4f7a84ed.b0857c","type":"function","name":"Parse value","func":"/degrees C: (\\w+\\.\\w+)/.exec(msg.payload);\nmsg.payload = parseFloat(RegExp.$1);\nreturn msg;","outputs":1,"x":367,"y":64,"z":"a4dedf0f.5b212","wires":[[]]},{"id":"d4c2752.f2b3d88","type":"debug","name":"","active":true,"console":"false","complete":"false","x":659,"y":65,"z":"a4dedf0f.5b212","wires":[]},{"id":"33f58b9e.cc0a74","type":"servioticy out","name":"","host":"localhost","port":"8080","soid":"","channel":"","stream":"","x":519,"y":65,"z":"a4dedf0f.5b212","wires":[["d4c2752.f2b3d88"]]},{"id":"6f7c3988.9083c8","type":"servioticy in","name":"Arduino temp","host":"localhost","port":"8080","soid":"140480463137035f63e50dcb4413fb37a0b0522fd3389","channel":"celsius","stream":"temp1","x":332,"y":79,"z":"706817d9.8f97e8","wires":[["c153263c.3eacd8"]]},{"id":"c153263c.3eacd8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":585,"y":79,"z":"706817d9.8f97e8","wires":[]},{"id":"64888f10.9b777","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":79,"z":"706817d9.8f97e8","wires":[["6f7c3988.9083c8"]]},{"id":"7b747948.848b88","type":"comment","name":"Data feeding of 2 Arduinos","info":"Please configure serial ports, draw line between\n\"Parse value\" and \"servioticy\" and finally click\non \"Deploy\".","x":571,"y":23,"z":"a4dedf0f.5b212","wires":[]},{"id":"2b6eb169.d4914e","type":"comment","name":"Return latest Arduino temperature","info":"","x":526,"y":31,"z":"706817d9.8f97e8","wires":[]},{"id":"c4f69e87.3b096","type":"inject","name":"led1on","topic":"","payload":"led1on","payloadType":"string","repeat":"","crontab":"","once":false,"x":104,"y":44,"z":"2351282f.dcaed8","wires":[["e235032e.1dcb"]]},{"id":"e235032e.1dcb","type":"serial out","name":"Arduino starter","serial":"b11dd2d2.4ee23","x":509,"y":155,"z":"2351282f.dcaed8","wires":[]},{"id":"9fff874b.600078","type":"inject","name":"led1off","topic":"","payload":"led1off","payloadType":"string","repeat":"","crontab":"","once":false,"x":105,"y":91,"z":"2351282f.dcaed8","wires":[["e235032e.1dcb"]]},{"id":"97b1af8e.684e5","type":"inject","name":"led2on","topic":"","payload":"led2on","payloadType":"string","repeat":"","crontab":"","once":false,"x":104,"y":136,"z":"2351282f.dcaed8","wires":[["e235032e.1dcb"]]},{"id":"bdad2d8f.4252d","type":"inject","name":"led2off","topic":"","payload":"led2off","payloadType":"string","repeat":"","crontab":"","once":false,"x":102,"y":182,"z":"2351282f.dcaed8","wires":[["e235032e.1dcb"]]},{"id":"3d882af.fc277d6","type":"inject","name":"led3on","topic":"","payload":"led3on","payloadType":"string","repeat":"","crontab":"","once":false,"x":102,"y":230,"z":"2351282f.dcaed8","wires":[["e235032e.1dcb"]]},{"id":"91bb237a.6e44e","type":"inject","name":"led3off","topic":"","payload":"led3off","payloadType":"string","repeat":"","crontab":"","once":false,"x":103,"y":277,"z":"2351282f.dcaed8","wires":[["e235032e.1dcb"]]},{"id":"15ed76c2.ea1289","type":"debug","name":"","active":true,"console":"false","complete":"false","x":488,"y":312,"z":"2351282f.dcaed8","wires":[]},{"id":"326fe995.cd9016","type":"mqtt in","name":"servIoTicy acts","topic":"14056883311025a9b94340f964f06b73a1b972c875300/actions","broker":"3bd18868.c42e78","x":95,"y":348,"z":"2351282f.dcaed8","wires":[["5dbb776d.a24488"]]},{"id":"eb2ce11a.14d32","type":"function","name":"extract act","func":"msg.payload = msg.payload[\"description\"][\"name\"];\nreturn msg;","outputs":1,"x":350,"y":249,"z":"2351282f.dcaed8","wires":[["15ed76c2.ea1289","e235032e.1dcb"]]},{"id":"5dbb776d.a24488","type":"json","name":"","x":244,"y":348,"z":"2351282f.dcaed8","wires":[["eb2ce11a.14d32","a26dcab0.5d9238"]]},{"id":"a26dcab0.5d9238","type":"debug","name":"","active":true,"console":false,"complete":false,"x":487,"y":348,"z":"2351282f.dcaed8","wires":[]},{"id":"e06f658e.1f9098","type":"comment","name":"Actuations","info":"Please consider also the ServIoTicy documentation,\neg.: http://www.servioticy.com/?page_id=385","x":490,"y":41,"z":"2351282f.dcaed8","wires":[]},{"id":"58f994.ffa7066c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":587,"y":131,"z":"706817d9.8f97e8","wires":[]},{"id":"c7ecd6fd.381328","type":"servioticy in","name":"Arduino temp","host":"localhost","port":"8080","soid":"","channel":"","stream":"","x":417,"y":131,"z":"706817d9.8f97e8","wires":[["58f994.ffa7066c"]]},{"id":"34840a8e.cb7bf6","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":99,"y":131,"z":"706817d9.8f97e8","wires":[["b9c2ad85.463d5"]]},{"id":"b9c2ad85.463d5","type":"function","name":"Params","func":"msg.soid = \"140480463137035f63e50dcb4413fb37a0b0522fd3389\";\nmsg.channel = \"celsius\";\nmsg.stream = \"temp1\";\nreturn msg;","outputs":1,"x":254,"y":131,"z":"706817d9.8f97e8","wires":[["c7ecd6fd.381328"]]}]