beeraculus/nodeRED_flow/beeraculus_flow.json
[{"id":"cbcb7be3.343488","type":"twilio-api","sid":"ACb698a969f3b89e361ab3ec3d811956e7","from":"+17403040362","name":"twilio"},{"id":"9876f935.678908","type":"twilio out","twilio":"cbcb7be3.343488","number":"+393469543603","name":"twillio","x":668,"y":227,"z":"d6ab6f0d.29549","wires":[]},{"id":"9ed33022.612cd","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":70,"z":"d6ab6f0d.29549","wires":[["d775ea00.288a18"]]},{"id":"d775ea00.288a18","type":"http request","name":"Sensor1","method":"GET","url":"https://api.spark.io/v1/devices/53ff73065075535148181587/light1?access_token=c0606233cfb60869b1ea237d738e5a1bfbfa6fdf","x":281,"y":103,"z":"d6ab6f0d.29549","wires":[["429d1526.bd62ec","4909096.fb6f6f8"]]},{"id":"429d1526.bd62ec","type":"debug","name":"","active":true,"console":false,"complete":false,"x":424,"y":20,"z":"d6ab6f0d.29549","wires":[]},{"id":"4909096.fb6f6f8","type":"json","name":"","x":423,"y":144,"z":"d6ab6f0d.29549","wires":[["d01959ad.2fe6a8"]]},{"id":"d01959ad.2fe6a8","type":"function","name":"parse","func":"context.count = context.count || 0;  \n\nvar temp = msg.payload;\nmsg.payload = \"\";\n\nif(temp.result < 300) {\n\tmsg.payload = \"ok\";\n\tcontext.count = 0;\n\t}\nelse {\n\tmsg.payload = \"Dude, you are running out of beer!!\";\t\n\tcontext.count++;\n\tif(context.count == 1)\n\t\treturn msg;\n}\n\n","outputs":1,"x":541,"y":191,"z":"d6ab6f0d.29549","wires":[["97ba778.f684588","9876f935.678908"]]},{"id":"97ba778.f684588","type":"debug","name":"","active":true,"console":false,"complete":false,"x":659,"y":119,"z":"d6ab6f0d.29549","wires":[]}]