pi-deployment/flows_raspberrypi.json
[{"type":"tab","id":"3b889f60.c3863","label":"Sheet 1"},{"id":"df7b407.4a1cc4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":604,"y":93,"z":"3b889f60.c3863","wires":[]},{"id":"120dba88.e59a65","type":"exec","command":"/home/pi/cpu_temp.sh","append":"","useSpawn":"","name":"temp","x":322,"y":240,"z":"3b889f60.c3863","wires":[["df7b407.4a1cc4","2c541e28.d3b552"],[],[]]},{"id":"c013b0c7.0e7bb","type":"inject","name":"","topic":"","payload":"temp","payloadType":"string","repeat":"5","crontab":"","once":true,"x":100,"y":241,"z":"3b889f60.c3863","wires":[["120dba88.e59a65"]]},{"id":"2c541e28.d3b552","type":"http request","name":"","method":"GET","url":"http://localhost:8000/{{payload}}","x":569,"y":506,"z":"3b889f60.c3863","wires":[[]]}]