pi-deployment/flows_deploy.json
[{"type":"tab","id":"2351282f.dcaed8","label":"Sheet 1"},{"id":"b11dd2d2.4ee23","type":"serial-port","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"4761633a.b89e9c","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"3bd18868.c42e78","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"4ad264e5.b52d9c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":44,"z":"2351282f.dcaed8","wires":[["a933c24d.56cc4"]]},{"id":"a933c24d.56cc4","type":"file in","name":"Pi flow","filename":"/home/tis/pi-deployment/flows_raspberrypi.json","format":"utf8","x":221,"y":44,"z":"2351282f.dcaed8","wires":[["889f12fb.7760f"]]},{"id":"da835d01.257ca","type":"http request","name":"","method":"POST","url":"http://pi2:1880/flows","x":528,"y":44,"z":"2351282f.dcaed8","wires":[["5f163157.a0e9d"]]},{"id":"5f163157.a0e9d","type":"debug","name":"","active":true,"console":false,"complete":false,"x":700,"y":44,"z":"2351282f.dcaed8","wires":[]},{"id":"889f12fb.7760f","type":"json","name":"","x":367,"y":44,"z":"2351282f.dcaed8","wires":[["da835d01.257ca"]]}]