servioticy/bulbs/flows.json
[{"type":"tab","id":"f317fa77.0ce808","label":"Manual bulb"},{"type":"tab","id":"403ba00a.bfc46","label":"Arduino Temp bulb"},{"type":"tab","id":"477b7ca.fb88484","label":"ServIoTicy bulb"},{"id":"c244e7c1.3dbb18","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"802d10e6.7fd2f","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"389f4c80.c760b4","type":"HueNode","name":"","username":"newdeveloper","discovery_mode":"","lamp_id":"1","color":"FFFFFF","brightness":"100","lamp_status":"AUTO","x":433,"y":236,"z":"f317fa77.0ce808","wires":[["629b06ab.9d64f8"]]},{"id":"b8b3de15.474c2","type":"inject","name":"green","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":317,"z":"f317fa77.0ce808","wires":[["8af9f629.750608"]]},{"id":"629b06ab.9d64f8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":586,"y":236,"z":"f317fa77.0ce808","wires":[]},{"id":"8af9f629.750608","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = \"00FF00\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":253,"y":317,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"ab369127.54c97","type":"inject","name":"blue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":366,"z":"f317fa77.0ce808","wires":[["549cc4c7.ab633c"]]},{"id":"143f7ef6.ebc081","type":"inject","name":"red","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89,"y":266,"z":"f317fa77.0ce808","wires":[["58c1ed3d.a73e14"]]},{"id":"549cc4c7.ab633c","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = \"0000FF\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":253,"y":366,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"58c1ed3d.a73e14","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = \"FF0000\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":254,"y":266,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"3fb80d05.c047f2","type":"inject","name":"off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":415,"z":"f317fa77.0ce808","wires":[["4577ace1.ba8854"]]},{"id":"4577ace1.ba8854","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"off\";\nreturn msg;","outputs":1,"x":253,"y":415,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"64db7fa1.9b248","type":"inject","name":"white","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89,"y":214,"z":"f317fa77.0ce808","wires":[["7594a8e.f8a6b58"]]},{"id":"7594a8e.f8a6b58","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = \"000000\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":254,"y":214,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"93d8bc3d.6c274","type":"inject","name":"magenta","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":88,"y":161,"z":"f317fa77.0ce808","wires":[["ab7914c.f5486e8"]]},{"id":"eee4af13.111b5","type":"inject","name":"cyan","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":109,"z":"f317fa77.0ce808","wires":[["117adb98.ee8524"]]},{"id":"e99ce8fa.166318","type":"inject","name":"yellow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":57,"z":"f317fa77.0ce808","wires":[["7837e34e.87c81c"]]},{"id":"ab7914c.f5486e8","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = \"FF00FF\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":254,"y":161,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"117adb98.ee8524","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = \"00FFFF\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":252,"y":109,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"7837e34e.87c81c","type":"function","name":"bulb conf","func":"msg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = \"FFFF00\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":253,"y":57,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"f9dc726a.06239","type":"serial in","name":"","serial":"c244e7c1.3dbb18","x":88,"y":57,"z":"403ba00a.bfc46","wires":[["dd0d59a1.22f2a8"]]},{"id":"ee672314.1198e","type":"debug","name":"","active":true,"console":"false","complete":"true","x":700,"y":57,"z":"403ba00a.bfc46","wires":[]},{"id":"f27aef7a.0d851","type":"function","name":"bulb conf","func":"function rgb2hex(red, green, blue) {\n        var rgb = blue | (green << 8) | (red << 16);\n        return (0x1000000 + rgb).toString(16).slice(1);\n}\n\n// from 20° color 00FF00 green -> red\n// to   30° color FF0000\nmsg.temp = msg.payload-20;\nmsg.level = Math.round((10-msg.temp) * 255 / 10);\n\nmsg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = rgb2hex(255 - msg.level, msg.level, 0);\nmsg.brightness = 1;\n\nreturn msg;","outputs":1,"x":406,"y":57,"z":"403ba00a.bfc46","wires":[["f8b2ecd3.074d1"]]},{"id":"f8b2ecd3.074d1","type":"HueNode","name":"","username":"newdeveloper","discovery_mode":"","lamp_id":"","color":"FFFFFF","brightness":"","lamp_status":"AUTO","x":560,"y":57,"z":"403ba00a.bfc46","wires":[["ee672314.1198e"]]},{"id":"dd0d59a1.22f2a8","type":"function","name":"parse temp","func":"/degrees C: (\\w+\\.\\w+)/.exec(msg.payload);\nmsg.payload = parseFloat(RegExp.$1);\nreturn msg;","outputs":1,"x":251,"y":57,"z":"403ba00a.bfc46","wires":[["f27aef7a.0d851","665a291b.99a5d8"]]},{"id":"665a291b.99a5d8","type":"debug","name":"","active":true,"console":false,"complete":false,"x":400,"y":116,"z":"403ba00a.bfc46","wires":[]},{"id":"b2855165.4d7ab","type":"inject","name":"on","topic":"","payload":"on","payloadType":"string","repeat":"","crontab":"","once":false,"x":84,"y":30,"z":"477b7ca.fb88484","wires":[["e0c95989.1f36a8"]]},{"id":"88a39a1a.775c68","type":"inject","name":"off","topic":"","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":84,"y":78,"z":"477b7ca.fb88484","wires":[["e0c95989.1f36a8"]]},{"id":"2c890294.d376fe","type":"mqtt in","name":"ServIoTicy Acts","topic":"14111309265504474785e6a3f42b9bdec6af535d023d2/actions","broker":"802d10e6.7fd2f","x":85,"y":175,"z":"477b7ca.fb88484","wires":[["d72abc5.f28d54"]]},{"id":"502a5a2.fafd5a4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":653,"y":175,"z":"477b7ca.fb88484","wires":[]},{"id":"d72abc5.f28d54","type":"json","name":"","x":240,"y":175,"z":"477b7ca.fb88484","wires":[["d9ef4d55.2610b"]]},{"id":"d9ef4d55.2610b","type":"function","name":"bulb conf","func":"// extract act\nmsg.lamp = 1;\nmsg.payload = msg.payload.description.name; // extract act\nmsg.color = \"#000000\"; // white\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":376,"y":175,"z":"477b7ca.fb88484","wires":[["e04ee8c2.1fb118"]]},{"id":"e04ee8c2.1fb118","type":"HueNode","name":"","username":"newdeveloper","discovery_mode":"","lamp_id":"","color":"","brightness":"","lamp_status":"AUTO","x":519,"y":175,"z":"477b7ca.fb88484","wires":[["502a5a2.fafd5a4"]]},{"id":"dc51c331.23ae4","type":"inject","name":"alert","topic":"","payload":"alert","payloadType":"string","repeat":"","crontab":"","once":false,"x":84,"y":127,"z":"477b7ca.fb88484","wires":[["e0c95989.1f36a8"]]},{"id":"303b2265.cfc4de","type":"http request","name":"ServIoTicy acts","method":"POST","url":"","x":484,"y":79,"z":"477b7ca.fb88484","wires":[["f89bdc98.07642"]]},{"id":"e0c95989.1f36a8","type":"function","name":"conf","func":"var api_token = \"M2JhMmRkMDEtZTAwZi00ODM5LThmYTktOGU4NjNjYmJmMjc5N2UzNzYwNWItNTc2ZS00MGVlLTgyNTMtNTgzMmJhZjA0ZmIy\";\nvar so_id = \"14111309265504474785e6a3f42b9bdec6af535d023d2\";\nmsg.headers = {\n  \"Content-Type\": \"text/plain\",\n  \"Authorization\": api_token\n};\nmsg.url = \"http://localhost:8080/\" + so_id + \"/actuations/\" + msg.payload;\nreturn msg;","outputs":1,"x":303,"y":79,"z":"477b7ca.fb88484","wires":[["303b2265.cfc4de"]]},{"id":"f89bdc98.07642","type":"debug","name":"","active":true,"console":"false","complete":"false","x":643,"y":79,"z":"477b7ca.fb88484","wires":[]}]