node-red-showroom/flows.json
[{"type":"tab","id":"f317fa77.0ce808","label":"Manual bulb"},{"type":"tab","id":"403ba00a.bfc46","label":"Arduino bulb"},{"type":"tab","id":"71fd5ec2.8e02a","label":"InTeGreen"},{"id":"c244e7c1.3dbb18","type":"serial-port","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"802d10e6.7fd2f","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"389f4c80.c760b4","type":"HueNode","name":"","username":"newdeveloper","discovery_mode":"","lamp_id":"","color":"FFFFFF","brightness":"100","lamp_status":"AUTO","x":461,"y":312,"z":"f317fa77.0ce808","wires":[["629b06ab.9d64f8"]]},{"id":"b8b3de15.474c2","type":"inject","name":"green","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":317,"z":"f317fa77.0ce808","wires":[["8af9f629.750608"]]},{"id":"629b06ab.9d64f8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":615,"y":228,"z":"f317fa77.0ce808","wires":[]},{"id":"8af9f629.750608","type":"function","name":"bulb conf","func":"msg.payload = \"on\";\nmsg.color = \"00FF00\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":253,"y":317,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"ab369127.54c97","type":"inject","name":"blue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":366,"z":"f317fa77.0ce808","wires":[["549cc4c7.ab633c"]]},{"id":"143f7ef6.ebc081","type":"inject","name":"red","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89,"y":266,"z":"f317fa77.0ce808","wires":[["58c1ed3d.a73e14"]]},{"id":"549cc4c7.ab633c","type":"function","name":"bulb conf","func":"msg.payload = \"on\";\nmsg.color = \"0000FF\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":253,"y":366,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"58c1ed3d.a73e14","type":"function","name":"bulb conf","func":"msg.payload = \"on\";\nmsg.color = \"FF0000\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":254,"y":266,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"3fb80d05.c047f2","type":"inject","name":"off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":415,"z":"f317fa77.0ce808","wires":[["4577ace1.ba8854"]]},{"id":"4577ace1.ba8854","type":"function","name":"bulb conf","func":"msg.payload = \"off\";\nreturn msg;","outputs":1,"x":253,"y":415,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"64db7fa1.9b248","type":"inject","name":"white","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":89,"y":214,"z":"f317fa77.0ce808","wires":[["7594a8e.f8a6b58"]]},{"id":"7594a8e.f8a6b58","type":"function","name":"bulb conf","func":"msg.payload = \"on\";\nmsg.color = \"000000\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":254,"y":214,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"93d8bc3d.6c274","type":"inject","name":"magenta","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":88,"y":161,"z":"f317fa77.0ce808","wires":[["ab7914c.f5486e8"]]},{"id":"eee4af13.111b5","type":"inject","name":"cyan","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":109,"z":"f317fa77.0ce808","wires":[["117adb98.ee8524"]]},{"id":"e99ce8fa.166318","type":"inject","name":"yellow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":57,"z":"f317fa77.0ce808","wires":[["7837e34e.87c81c"]]},{"id":"ab7914c.f5486e8","type":"function","name":"bulb conf","func":"msg.payload = \"on\";\nmsg.color = \"FF00FF\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":254,"y":161,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"117adb98.ee8524","type":"function","name":"bulb conf","func":"msg.payload = \"on\";\nmsg.color = \"00FFFF\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":252,"y":109,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"7837e34e.87c81c","type":"function","name":"bulb conf","func":"msg.payload = \"on\";\nmsg.color = \"FFFF00\";\nmsg.brightness = 1;\nreturn msg;","outputs":1,"x":253,"y":57,"z":"f317fa77.0ce808","wires":[["3f458ecb.c0ba72"]]},{"id":"f9dc726a.06239","type":"serial in","name":"Arduino Grove","serial":"c244e7c1.3dbb18","x":107,"y":51,"z":"403ba00a.bfc46","wires":[["dd0d59a1.22f2a8"]]},{"id":"ee672314.1198e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":538,"y":177,"z":"403ba00a.bfc46","wires":[]},{"id":"f27aef7a.0d851","type":"function","name":"bulb conf","func":"function rgb2hex(red, green, blue) {\n        var rgb = blue | (green << 8) | (red << 16);\n        return (0x1000000 + rgb).toString(16).slice(1);\n}\n\n// <= 24° color 00FF00 green -> red\n// >= 30° color FF0000\nif (msg.temp < 24) msg.temp = 24;\nif (msg.temp > 30) msg.temp = 30;\nmsg.temp = msg.temp-24;\nvar tempLevel = Math.round((6-msg.temp) * 255 / 6);\n// msg.snd Arduino analog input [0..1023] to RGB [0..255]\nvar sndLevel = msg.snd * 255 / 1023;\n\nmsg.lamp = 1;\nmsg.payload = \"on\";\nmsg.color = rgb2hex(255 - tempLevel, tempLevel, sndLevel);\nmsg.brightness = 1;\n\nreturn msg;","outputs":1,"x":107,"y":176,"z":"403ba00a.bfc46","wires":[["f8b2ecd3.074d1"]]},{"id":"f8b2ecd3.074d1","type":"HueNode","name":"Bulb 1","username":"newdeveloper","discovery_mode":"","lamp_id":"","color":"FFFFFF","brightness":"","lamp_status":"AUTO","x":311,"y":176,"z":"403ba00a.bfc46","wires":[["ee672314.1198e"]]},{"id":"dd0d59a1.22f2a8","type":"function","name":"parse temp + snd","func":"/degrees C: (\\w+\\.\\w+)/.exec(msg.payload);\nmsg.temp = parseFloat(RegExp.$1);\n/sound: (\\w+)/.exec(msg.payload);\nmsg.snd = parseInt(RegExp.$1);\nreturn msg;","outputs":1,"x":309,"y":51,"z":"403ba00a.bfc46","wires":[["f27aef7a.0d851","665a291b.99a5d8"]]},{"id":"665a291b.99a5d8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":538,"y":51,"z":"403ba00a.bfc46","wires":[]},{"id":"4f2c70be.b0d39","type":"integreen in","name":"InTeGreen Link TIS -> Reschen/Resia","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"LinkFrontEnd","call":"get-records","params":"station=58&name=Bluetooth%20Count%20match&seconds=86400&period=900","x":316,"y":84,"z":"71fd5ec2.8e02a","wires":[["488a6d29.b77594"]]},{"id":"48ca6c4d.b73594","type":"integreen in","name":"InTeGreen Parking Walther","host":"ipchannels.integreen-life.bz.it","port":"80","frontend":"parkingFrontEnd","call":"get-records","params":"station=103&name=occupied&seconds=86400&period=600","x":280,"y":252,"z":"71fd5ec2.8e02a","wires":[["f3e9511f.0c16b"]]},{"id":"b09dfb2e.4f6208","type":"debug","name":"","active":true,"console":"false","complete":"true","x":499,"y":152,"z":"71fd5ec2.8e02a","wires":[]},{"id":"8ac822f5.7537e","type":"debug","name":"","active":true,"console":"false","complete":"true","x":497,"y":316,"z":"71fd5ec2.8e02a","wires":[]},{"id":"3f06b42e.c0f94c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"x":82,"y":84,"z":"71fd5ec2.8e02a","wires":[["4f2c70be.b0d39"]]},{"id":"b1f8da96.4e0728","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"x":82,"y":252,"z":"71fd5ec2.8e02a","wires":[["48ca6c4d.b73594"]]},{"id":"488a6d29.b77594","type":"function","name":"bulb conf","func":"function rgb2hex(red, green, blue) {\n        var rgb = blue | (green << 8) | (red << 16);\n        return (0x1000000 + rgb).toString(16).slice(1);\n}\n\nvar msgs = [];\nmsgs[0] = [];\n\nmsg.payload.forEach(function (record) {\n\tvar msgEntry = {};\n\t\n\t// timestamp and value for debugging\n\tmsgEntry.timestamp = new Date(record.timestamp).toString();\n\tmsgEntry.value = record.value;\n\n\t// <= 0 color 00FF00 green -> red\n\t// >= 25 color FF0000\n\tif (record.value < 0) record.value = 0;\n\tif (record.value > 25) record.value = 25;\n\tvar level = Math.round((25-record.value) * 255 / 25);\n\n\tmsgEntry.lamp = 2;\n\tmsgEntry.payload = \"on\";\n\tmsgEntry.color = rgb2hex(255 - level, level, 0);\n\tmsgEntry.brightness = 1;\n\t\n\tmsgs[0].push(msgEntry);\n});\n\n// at the end switch it to white\nmsgs[0].push({ lamp: 2, payload: \"on\", color: rgb2hex(0, 0, 0), brightness: 1 });\n\nreturn msgs;","outputs":1,"x":180,"y":193,"z":"71fd5ec2.8e02a","wires":[["a0838adc.5f7c78"]]},{"id":"f3e9511f.0c16b","type":"function","name":"bulb conf","func":"function rgb2hex(red, green, blue) {\n        var rgb = blue | (green << 8) | (red << 16);\n        return (0x1000000 + rgb).toString(16).slice(1);\n}\n\nvar msgs = [];\nmsgs[0] = [];\n\nmsg.payload.forEach(function (record) {\n\tvar msgEntry = {};\n\t\n\t// timestamp and value for debugging\n\tmsgEntry.timestamp = new Date(record.timestamp).toString();\n\tmsgEntry.value = record.value;\n\n\t// <= 0 color 00FF00 green -> red\n\t// >= 800 color FF0000\n\tif (record.value < 0) record.value = 0;\n\tif (record.value > 350) record.value = 350;\n\tvar level = Math.round((350-record.value) * 255 / 350);\n\n\tmsgEntry.lamp = 3;\n\tmsgEntry.payload = \"on\";\n\tmsgEntry.color = rgb2hex(255 - level, level, 0);\n\tmsgEntry.brightness = 1;\n\t\n\tmsgs[0].push(msgEntry);\n});\n\n// at the end switch it to white\nmsgs[0].push({ lamp: 3, payload: \"on\", color: rgb2hex(0, 0, 0), brightness: 1 });\n\nreturn msgs;","outputs":1,"x":175,"y":356,"z":"71fd5ec2.8e02a","wires":[["4c99ee0f.b3661"]]},{"id":"3f458ecb.c0ba72","type":"function","name":"bulb id","func":"msg.lamp = 1\nreturn msg;","outputs":1,"x":447,"y":161,"z":"f317fa77.0ce808","wires":[["389f4c80.c760b4"]]},{"id":"5af4d78e.a50b28","type":"HueNode","name":"Bulb 2","username":"newdeveloper","discovery_mode":"","lamp_id":"","color":"FFFFFF","brightness":"","lamp_status":"AUTO","x":498,"y":193,"z":"71fd5ec2.8e02a","wires":[["7e742d72.818bd4"]]},{"id":"341899ca.cbe766","type":"HueNode","name":"Bulb 3","username":"newdeveloper","discovery_mode":"","lamp_id":"","color":"FFFFFF","brightness":"","lamp_status":"AUTO","x":498,"y":356,"z":"71fd5ec2.8e02a","wires":[["247a1a83.db85e6"]]},{"id":"7e742d72.818bd4","type":"debug","name":"","active":false,"console":false,"complete":false,"x":623,"y":193,"z":"71fd5ec2.8e02a","wires":[]},{"id":"247a1a83.db85e6","type":"debug","name":"","active":false,"console":false,"complete":false,"x":624,"y":356,"z":"71fd5ec2.8e02a","wires":[]},{"id":"a0838adc.5f7c78","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":341,"y":193,"z":"71fd5ec2.8e02a","wires":[["b09dfb2e.4f6208","5af4d78e.a50b28"]]},{"id":"4c99ee0f.b3661","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":334,"y":356,"z":"71fd5ec2.8e02a","wires":[["341899ca.cbe766","8ac822f5.7537e"]]}]