progs/pi-deployment/flows_deploy2.json
[{"type":"tab","id":"2351282f.dcaed8","label":"Sheet 1"},{"id":"b11dd2d2.4ee23","type":"serial-port","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"4761633a.b89e9c","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"3bd18868.c42e78","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"a933c24d.56cc4","type":"file in","name":"Pi flow","filename":"/home/tis/pi-deployment/flows_raspberrypi.json","format":"utf8","x":281,"y":138,"z":"2351282f.dcaed8","wires":[["889f12fb.7760f"]]},{"id":"da835d01.257ca","type":"http request","name":"","method":"POST","url":"","x":803,"y":138,"z":"2351282f.dcaed8","wires":[["5f163157.a0e9d"]]},{"id":"5f163157.a0e9d","type":"debug","name":"","active":true,"console":false,"complete":false,"x":962,"y":138,"z":"2351282f.dcaed8","wires":[]},{"id":"889f12fb.7760f","type":"json","name":"","x":429,"y":138,"z":"2351282f.dcaed8","wires":[["85df44bf.7a20b8"]]},{"id":"5280a48.fad7f5c","type":"csv","name":"","sep":",","temp":"loc,desc","x":587,"y":29,"z":"2351282f.dcaed8","wires":[["81ec2030.7e13e","16a6972f.e95969"]]},{"id":"81ec2030.7e13e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":758,"y":31,"z":"2351282f.dcaed8","wires":[]},{"id":"bf8eadd4.40715","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85,"y":29,"z":"2351282f.dcaed8","wires":[["6410fb8a.9bef04"]]},{"id":"6410fb8a.9bef04","type":"file in","name":"Pi addresses","filename":"/home/tis/pi-deployment/pi_addresses.csv","format":"utf8","x":249,"y":29,"z":"2351282f.dcaed8","wires":[["29e8bf9f.d6174"]]},{"id":"85df44bf.7a20b8","type":"change","action":"replace","property":"headers","from":"","to":"{ \"Content-Type\": \"application/json\" }","reg":false,"name":"HTTP content type","x":602,"y":138,"z":"2351282f.dcaed8","wires":[["da835d01.257ca"]]},{"id":"29e8bf9f.d6174","type":"function","name":"Line splitter","func":"var outputMsgs = [];\nvar lines = msg.payload.split(\"\\n\");\nfor (var l in lines) {\n\t// not empty and no comment\n\tif (lines[l] != \"\" && lines[l].trimLeft().charAt(0) != \"#\") {\n    \toutputMsgs.push({payload:lines[l]});\n\t}\n}\nreturn [ outputMsgs ];","outputs":1,"x":424,"y":29,"z":"2351282f.dcaed8","wires":[["5280a48.fad7f5c"]]},{"id":"16a6972f.e95969","type":"function","name":"extract URL","func":"msg.url = \"http://\" + msg.payload.loc + \":1880/flows\";\nreturn msg;","outputs":1,"x":118,"y":138,"z":"2351282f.dcaed8","wires":[["a933c24d.56cc4"]]}]